## Gradle ##
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

## Android Studio / IntelliJ ##
.idea/
*.iml
.cxx/
local.properties
captures/

## OS ##
.DS_Store
Thumbs.db

## Kotlin ##
*.kotlin_module
